**
!.gitignore
!.zshrc
!.config/
.config/**
!.config/k9s/
!.config/k9s/**
!.config/wezterm/
!.config/wezterm/**
!.config/nvim/
!.config/nvim/**
!.config/homebrew/
!.config/homebrew/**
!.config/lazygit/
!.config/lazygit/**
!.config/raycast/bak/
!.config/raycast/bak/**

.swp
.DS_Store

